body {
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	line-height: 24px;
	text-transform: uppercase;
	background-image: url(../img/picture.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-navigation {
	width: 780px;
	float: left;
	min-height: 70px;
}

.user-block {
	width: 140px;
	float: right;
	min-height: 70px;
}

.main-header {
	margin-bottom: 60px;
}

.index-logo {
	width: 368px;
	min-height: 204px;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
}

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
	width: 300px;
	min-height: 175px;
	margin-right: 20px;
}

.features-item:last-of-type {
	margin-right: 0;
}

.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;
	background-color: white;
}

.index-content-left {
	float: left;
	width: 380px;
	min-height: 330px;
}

.index-content-right {
	float: right;
	width: 300px;
	min-height: 330px;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	background: url(../img/background1.png) repeat;
}

.footer-contacts {
	float: left;
	width: 320px;
	min-height: 90px;
	margin-right: 60px;
}

.footer-social {
	float: left;
	width: 180px;
	min-height: 90px;
	margin-right: 60px;
}

.footer-copyright {
	float: right;
	width: 180px;
	min-height: 90px;
}

.index-content-title {
	font-size: 30px;
	line-height: 42px;
}

.header-one {
	font-size: 30px;
	line-height: 42px;
}

.header-two {
	font-size: 24px;
	line-height: 30px;
}

.features-name {
	font-size: 30px;
	line-height: 42px;
	color: #ffffff;
}

.features-item p {
	color: #ffffff;
}

.main-footer {
	color: #ffffff;
}

.form-legend {
	font-size: 24px;
	line-height: 30px;
}